<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">

</head>
<body>
    <div class="form-style-5">

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <fieldset>

            <legend><img src="{% static 'image/ihob.png' %}">REGISTER</a></legend>
            <input type="text" id ="userName" name="userName" placeholder="username *" required>
            <input type="password" id = "password" name="password" placeholder="password *" required>
            <input type="password" id="repassword" name="repassword" placeholder="RE-Enter password *" required>
        </fieldset>

        <input id="submit" type="submit" value="Sumbit" />
        <b>{{error}}</b>
    </form>

    </div>
</body>
</html>